// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.navbar-brand:hover {
  color: #7d7de9; 
}

.nav-item .nav-link:hover {
  color: #7d7de9; 
}

.nav-dropdown-item .nav-dropdown-link:hover {
  color: rgb(150, 150, 150);
}

#search_toggle:hover {
  color: #7d7de9;
}

.avatar {
  border-radius: 0 !important; 
  width: 100% !important;    
  height: 100% !important;    
}