// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.navbar-brand:hover {
  color: #946efd; 
}

/* 수정된 선택자: 현재 HTML 구조에 맞게 변경 */
.dropdown-menu .dropdown-item:hover {
  color: #946efd; /* 호버 시 색상을 변경 */
}

/* 추가적인 선택자: 드롭다운 링크에 대한 호버 스타일 적용 */
.dropdown-menu .dropdown-item span:hover {
  color: rgb(150, 150, 150); /* 호버 시 스팬 요소의 색상 변경 */
}

#search_toggle:hover {
  color: #946efd;
}

.avatar {
  border-radius: 0 !important; 
  width: 100% !important;    
  height: 100% !important;    
}